/*
.wave {
    position: relative;
    height: 70px;
    width: 100%;
    background: yellow;
    margin-top: -20px;
}

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 60%;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 40%;
    width: 51%;
    height: 70px;
    background-color: yellow;
    left: 0px;
    top: 22px;
}*/

* {
    outline: none
}

body {
    font-family: "RobotoRegular";
    background-color: #F0F0F0;
}

header {
    background-color: #7FB1D0;
}

main .container {
    background-color: #FDFDFD;
    box-shadow: 0 5px 5px 5px #e2e2e2;
}

.navbar-collapse ul {
    width: 100%;
}

.navbar-collapse ul li {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
}

.main-navigation {
    border-radius: 0;
    background-color: #7FB1D0;
    border: none;
    margin: 0;
}

.main-navigation #bs-example-navbar-collapse-1 a {
    color: aliceblue;
    transition: 0.45s all;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main-navigation #bs-example-navbar-collapse-1 a:hover {
    background-color: #ECECEC;
    color: #333
}

#bs-example-navbar-collapse-1 .dropdown.open a:focus {
    background-color: #7FB1D0;
}

.main-navigation .dropdown-menu {
    box-shadow: none;
    background-color: #7FB1D0;
    border: none;
    border-radius: 0;
    text-align: center;
    padding: 0;
}

.main-navigation .dropdown-menu li {
    width: 100%;
}

.main-navigation .dropdown-menu a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel {
    margin-top: 0px;
}

.carousel-inner img {
    width: 100%;
    height: 400px;
}

.carousel-indicators {
    margin-bottom: -10px;
}

.carousel-caption {
    padding: 0;
    margin-bottom: 5px;
}

.main-page-title {
    color: #333;
    text-align: center;
    font-family: "RobotoLight";
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-form {
    position: relative;
    background-color: #4580DD;
    min-height: 460px;
}

.blur {
    position: absolute;
    background-image: url(http://besttur.net/upload/images/57c9696ddb023.jpg);
    background-size: cover;
    filter: blur(9px);
    width: 100%;
    min-height: 460px;
    z-index: 10;
}

.main-form form {
    position: absolute;
    z-index: 2000;
    width: 100%;
    color: #fff;
    font-family: "RobotoLight";
}

.form-item {
    padding-top: 30px;
}

.price-controls {
    padding-top: 5px;
    padding-bottom: 4px;
    border: 2px solid #F0F0F0;
    position: relative;
    border-radius: 3px;
}

.price-controls label {
    margin-left: 10px;
    margin-right: 5px;
}

.price-controls input {
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    width: 60%;
    outline: none
}

.price-controls .min-price,
.price-controls .max-price {
    float: left;
    position: relative;
    width: 48%;
}

.price-controls .max-price {
    margin-left: 2%;
}

.price-controls .min-price::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 35px;
    right: 0;
    background-color: #f0f0f0;
    top: -5px;
}

.main-form span {
    font-family: "RobotoMedium";
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.main-form span:nth-of-type(2) {
    margin-top: 25px;
    text-align: left;
}

.range-controls {
    margin-top: 20px;
    position: relative;
}

.range-controls .scale {
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
    opacity: 1;
    position: relative;
    z-index: 10;
}

.range-controls .bar {
    position: absolute;
    z-index: 100;
    width: 80%;
    height: 2px;
    background-color: #ccc;
    opacity: 1
}

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #f0f0f0;
    border-radius: 50%;
    top: -7px;
    cursor: pointer;
    z-index: 200;
    transition: 0.8s all
}

.range-toggle:hover {
    background-color: #ccc;
}

.range-toggle:hover::after {
    background-color: #f0f0f0;
    border-radius: 0;
}

.range-toggle::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
    transform: translate(65%, 65%);
    cursor: pointer;
    transition: 0.8s all
}

.range-toggle.range-toggle-max {
    right: 20%;
}

.main-form .area {
    margin-top: 30px;
}

.main-form .area label {
    margin-right: 10px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
    clear: left;
    width: 100%;
    position: relative;
}

.main-form .area label::before {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: 0px 0px;
    position: absolute;
    top: 1px;
    right: 0;
}

.main-form .area input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: -36px -1px;
    position: absolute;
    top: 1px;
    right: 0;
}

.main-form .area input {
    float: right;
    margin-right: 65%;
    margin-top: 10px;
    display: none;
}

.main-form .area legend {
    padding-top: 16px;
}

legend {
    border: none;
    color: #fff;
    font-family: "RobotoMedium";
    font-size: 18px;
    text-align: center;
}

.main-form .type-of-house input {
    display: none;
}

.main-form .type-of-house label {
    margin-right: 10px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
    clear: left;
    position: relative;
    width: 100%;
}

.main-form .type-of-house label::before {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: 0px 0px;
    position: absolute;
    top: 1px;
    right: 0;
}

.main-form .type-of-house input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: -36px -1px;
    position: absolute;
    top: 1px;
    right: 0;
}

.pool-distance legend {
    padding-top: 10px;
}

.main-form .pool-distance input {
    display: none;
}

.main-form .pool-distance label {
    margin-right: 10px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
    clear: left;
    position: relative;
    width: 100%;
}

.main-form .pool-distance label::before {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: 0px 0px;
    position: absolute;
    top: 1px;
    right: 0;
}

.main-form .pool-distance input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: -36px -1px;
    position: absolute;
    top: 1px;
    right: 0;
}

.main-form .pool input {
    display: none;
}

.main-form .pool label {
    margin-right: 10px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
    clear: left;
    position: relative;
    width: 100%;
}

.main-form .pool label::before {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: 0px 0px;
    position: absolute;
    top: 1px;
    right: 0;
}

.main-form .pool input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../images/sprite-check.png);
    background-position: -36px -1px;
    position: absolute;
    top: 1px;
    right: 0;
}

.bedrooms legend {
    margin-top: 55px;
}

.main-form .bedrooms input {
    display: none;
}

.main-form .bedrooms label {
    margin-right: 10px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
    clear: left;
    position: relative;
    width: 100%;
}

.main-form .bedrooms label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    background-position: 0px 0px;
    position: absolute;
    top: 1px;
    left: 20px;
}

.main-form .bedrooms input[type="radio"]:checked + label::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
    top: 7px;
    left: 26px;
}

.submit button {
    width: 100%;
    border: 2px solid #012;
    border-radius: 3px;
    background-color: transparent;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: "RobotoMedium";
    color: #012;
    margin-top: 15px;
    transition: 0.7s all
}

.submit button:hover {
    background-color: #f0f0f0;
    color: #012;
}

.cards {
    margin-top: 0px;
}

.card {
    background-color: #ECECEC;
    color: #000;
    font-family: "RobotoMedium";
    padding-bottom: 4px;
    margin-top: 30px;
    border-radius: 3px;
}

.card p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card a {
    font: inherit;
    text-decoration: none;
    color: #000
}

.card a:hover {
    color: #7FB1D0;
}

.card img {
    width: 100%;
}

.card span {
    font-family: "RobotoLight";
    margin-left: 10px;
    float: left;
}

.raiting {
    display: block;
    float: left;
    margin-left: 10px;
}

.raiting i {
    color: #7FB1D0;
    margin-left: 3px;
}

.more-and-booking {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-and-booking a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    color: #fff;
}

.more-and-booking a:hover {}

.more-and-booking a:nth-of-type(1) {
    background-color: #7FB1D0;
}

.more-and-booking a:nth-of-type(1):hover {
    background-color: #669ec0;
    color: #fff;
}

.more-and-booking a:nth-of-type(2) {
    background-color: #756256;
}

.more-and-booking a:nth-of-type(2):hover {
    background-color: #604e43;
    color: #fff;
}

.paginator {
    text-align: center;
}